* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Black';
    background-color: #fd37fdce;
    color: #0e110e;
    line-height: 5;

}


.main-header {
    background-color: #e7e5dd10;
    border: 15px solid #790b35;
    padding: 50px;
}

.header-content {
    text-align: center;
}

.site-title {
    color: #01012c;
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}


.onmouseenter{
    background-color:rgb(75, 190, 228);
}

.onmouseleave{
    background-color: transparent;
    padding: 20px; border: 4px solid #000;
}